:root {
    --primary: #458ff6;
    --primary-010: #3b78cd;
    --white: #fff;
    --white-010: #f6f5f5;

    --black-font: #000000;
    --black-font-a: #233348;

    --font-p: #7d7987;

    --gradient-blue-primary: #67c3f3;
    --gradient-blue-secondary: #5A98F2;
}

body {
    font-family: 'Muli';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: var(--black-font);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

p {
    color: var(--font-p);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

.container {
    width: 80%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.decoration {
    position: absolute;
}

.btn {
    max-width: 200px;
    padding: 20px;
    font-size: 21px;
    border-radius: 50px;
}

.btn-primary {
    border: none;
    background: var(--primary);
    color: var(--white);
}

.btn-primary:hover {
    background: var(--primary-010);
}

.btn-secondary {
    border: 2px solid var(--primary);
    background: var(--white);
    color: var(--primary);
}

.btn-secondary:hover {
    background: var(--white-010);
}

@media only screen and (max-device-width: 700px) {
    .banner img {
        width: 300px;
        height: 300px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }
}