:root {
    --primary: #458ff6;
    --primary-010: #3b78cd;
    --white: #fff;
    --white-010: #f6f5f5;

    --black-font: #000000;
    --black-font-a: #233348;

    --font-p: #7d7987;

    --gradient-blue-primary: #97c3f9;
    --gradient-blue-secondary: #93c1f9;
}

body {
    font-family: 'Muli';
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: var(--black-font);
}

p {
    color: var(--font-p);
}

.btn {
    padding: 20px;
    font-size: 21px;
    border-radius: 50px;
}

.btn-primary {
    border: none;
    background: var(--primary);
    color: var(--white);
}

.btn-primary:hover {
    background: var(--primary-010);
}

.btn-secondary {
    border: 2px solid var(--primary);
    background: var(--white);
    color: var(--primary);
}

.btn-secondary:hover {
    background: var(--white-010);
}