.testimonials-content {
    background: linear-gradient(var(--gradient-blue-primary), var(--gradient-blue-secondary));
    border-radius: 25px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-content img {
    color: var(--white);
    border: 5px solid var(--white);
    border-radius: 50%;
}

.testimonials .border-bottom {
    border-bottom: 3px solid var(--white);
    width: 50px;
    height: 20px;
}


.testimonials-content h2,
.testimonials-content h3,
.testimonials-content p {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 3rem;
}

.testimonial-text .testimonial-user {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonial {
    color: var(--white);
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-title {
    margin-left: 1rem;
}

@media only screen and (max-device-width: 700px) {

    .testimonial,
    .testimonial-text .testimonial-user,
    .testimonial-text,
    .testimonial-text {
        flex-direction: column;
        width: 80%;
    }

    .testimonial-text {
        align-items: center;
    }
}